
  <div class="main-container">
    <ul style="display:flex">
      <li><a routerLink="" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}">Home</a></li>
      <li><a [routerLink]="['About']" [routerLinkActive]="'active'">About</a></li>
      <li><a [routerLink]="['Courses']" [routerLinkActive]="'active'">Courses</a></li>
      <li><a [routerLink]="['Contact']" [routerLinkActive]="'active'">Contact Us</a></li>
      
      <!-- // for fragment  -->
      <!-- <li><a routerLink="" fragment="home" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}">Home</a></li>
      <li><a routerLink="" fragment="about" [routerLinkActive]="'active'">About</a></li> -->
        <span style="float: right; margin-top: 8px;">
          <ul style="padding-inline: 10px;">
            <li><button class="btn btn-primary" (click)="login()">Login</button>&nbsp;&nbsp;&nbsp;</li>
            <li><button class="btn btn-danger" (click)="logout()">Logout</button></li>
          </ul>
        </span>
    </ul>
  </div>
  <div class="component-container">
    <!-- <app-home id="home"></app-home>
    <app-about id="about"></app-about> -->

    <router-outlet></router-outlet>
    <div class="spinner" *ngIf="displayLoaddingSpinner"></div>
  </div>

<!-- routerLinkActiveOptions  : helps to prevent both parent and child being set to active at the same time, 
  when root route is set to '' (empty) and directed component is HomeComponent-->